*
!.gitignore
!README.md
!agent-def
!agent-def/**
!ask
!ask/**
!create-agent
!create-agent/**
!cruiser
!cruiser/**
!easy
!easy/**
!fleet
!fleet/**
!loader
!loader/**
!mcp
!mcp/**
!orc8
!orc8/**
!relay
!relay/**
!types
!types/**
!sdk
!sdk/**
!symphony
!symphony/**